body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: hsla(27, 79%, 63%, 1);
    background: linear-gradient(135deg, hsla(27, 79%, 63%, 1) 0%, hsla(331, 62%, 62%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(27, 79%, 63%, 1) 0%, hsla(331, 62%, 62%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(27, 79%, 63%, 1) 0%, hsla(331, 62%, 62%, 1) 100%);
    height:fit-content;
    min-height:100dvh;
    display: flex;
    flex-direction:column;
    align-items:center;
    gap:20px;
}

h1 {
    color: hsla(241, 62%, 62%, 1);
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "BNCE" 0,
        "INFM" 30,
        "SPAC" 0;
}

h1 > b {
    text-decoration: underline wavy;
}

h2 {
    color: hsla(241, 62%, 62%, 1);
}

p {
    font-size: large;
    color:white;
}

img {
    max-width: 400px;
    width: 100%;
    border-radius: 10px;
}

.fishtank {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100vw;
    max-width:1200px;
    height:fit-content;
    justify-content: space-around;
}

.fish-image {
    max-height: 300px;
}

.fish-description {
    color: white;
}

.loading {
	width:100vw;
	max-width: 200px;
}
