body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: hsla(27, 79%, 63%, 1);
    background: linear-gradient(135deg, hsla(27, 79%, 63%, 1) 0%, hsla(331, 62%, 62%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(27, 79%, 63%, 1) 0%, hsla(331, 62%, 62%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(27, 79%, 63%, 1) 0%, hsla(331, 62%, 62%, 1) 100%);
    height:100vh;
}

h1 {
    color: hsla(241, 62%, 62%, 1);
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "BNCE" 0,
        "INFM" 30,
        "SPAC" 0;
}

h1 > b {
    text-decoration: underline wavy;
}

p {
    font-size: large;
    color:white;
}

img {
    max-width: 400px;
    width: 100%;
    border-radius: 10px;
}